@model AikidoWebsite.Web.Models.SeiteModel
@{
    ViewBag.Title = "Edit";
}

<style type="text/css">
    .creole-input {
        width: 800px;
        height: 400px;
        border: 1px solid lightgrey;
        resize: none;
    }

    .creole-preview {
        border: 1px dotted red;
        padding: 3px;
    }
</style>

<h2>Seite '@Model.Name' bearbeiten</h2>

@using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { id = "contentForm" })) {
    
<div class="btn-group">
@*<input type="submit" value="speichern" class="btn btn-primary" />*@
<button class="btn btn-primary" onclick="save(); return false;">speichern</button>
<span class="btn disabled"><b>Revision:</b> @Model.Revision</span>
</div>
    
<br /><br />
    
<div class="wmd-panel">
     <div id="wmd-button-bar"></div>   
     @Html.TextAreaFor(x => x.Markdown, new { @class = "creole-input", id = "creole-input", wrap = "off" })
    </div>

    @Html.HiddenFor(x => x.Name)
    
}

<ul class="nav nav-tabs">
<li class="active"><a href="#vorschau" data-toggle="tab">Vorschau</a></li>
<li><a href="#currentV" data-toggle="tab">Aktuelle Version</a></li>
<li><a href="#creole" data-toggle="tab">Creole Hilfe</a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="vorschau">
        <div id="creole-preview" class="creole-preview renderContent"></div>
    </div>
    <div class="tab-pane renderContent" id="currentV">
        @Html.Raw(Model.Html)
    </div>
    <div class="tab-pane" id="creole">
        @Html.Partial("CreoleHelp")
    </div>
</div>

@section Footer {
    <script type="text/javascript">
        $(function () {
            // Creole Preview aktivieren
            var input = document.getElementById("creole-input");
            var preview = document.getElementById("creole-preview");
            var creole = new Parse.Simple.Creole({
                forIE: document.all,
                interwiki: {},
                linkFormat: ''
            });

            var render = function () {
                preview.innerHTML = "";
                creole.parse(preview, input.value);
            };

            input.onkeyup = function () { render(); }

            render();
        });

        function save() {
            var data = { Name: '@Model.Name', Markdown: $("Markdown").value };
            $.post("/Content/Edit", $("#contentForm").serialize())
            .done(function (data) {
                location.href = window.location.href.split('?')[0] + "?saved=true";
                //location.reload(true);
            })
            .fail(function () { });

        }
    </script>
}