@{
    ViewBag.Title = "Personen";
}

<h2>Unsere Lehrer</h2>

<h3>Armin Müller</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/armin-s.jpg")" />
</div>

<h3>Georges Zahno</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/georges-s.jpg")" />
</div>

<h3>Marcel Schriber</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/marcel-s.jpg")" />
</div>

<h3>Markus Steinmann</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/markus-s.jpg")" />
</div>

<h3>Toni Renggli,</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/toni-s.jpg")" />
</div>

<h3>Manuela Steinmann-Gerber</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/manuela-s.jpg")" />
</div>

<h3>Priska Gut</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/priska-s.jpg")" />
</div>

<h3>Hanspeter Stalder</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/hanspeter-s.jpg")" />
</div>

<h3>Beat Schär</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/beat-s.jpg")" />
</div>

<h3>Nick ???</h3>
<div>
<img src="@Url.Content("~/Content/images/lehrer/nick-s.jpg")" />
</div>