@{
    ViewBag.Title = "Personen";
}

<style type="text/css">
    .content img, .content p {
        float: left;
    }

    .content img {
        margin-right: 15px;
        margin-top: 11px;
    }
</style>

<h2>Lehrer und Vereinsvorstand</h2>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/armin-s.jpg")" />
    <p>
        <h3>Armin Müller</h3>
        6. Dan Aikikai, Technischer Leiter
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/marcel-s.jpg")" />
    <p>
        <h3>Marcel Schriber</h3>
        5. Dan Aikikai, Lehrer Erwachsene und Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/georges-s.jpg")" />
    <p>
        <h3>Georges Zahno</h3>
        5. Dan Aikikai, Lehrer Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/manuela-s.jpg")" />
    <p>
        <h3>Manuela Steinmann-Gerber</h3>
        3. Dan Aikikai, Trainerin Erwachsene und Kinder, Co- Verantwortung Kindertrainings
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/markus-s.jpg")" />
    <p>
        <h3>Markus Steinmann</h3>
        3. Dan Aikikai, Trainer Erwachsene, Vereinspräsident
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/robin-s.jpg")" />
    <p>
        <h3>Robin Gubler</h3>
        3. Dan Aikikai, Trainer Erwachsene und Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/rebecca-s.jpg")" />
    <p>
        <h3>Rebecca Marbach</h3>
        2. Dan Aikikai, Trainierin Kinder, Vereinssekretariat, Co- Verantwortung Kindertrainings
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/simon-s.jpg")" />
    <p>
        <h3>Simon Steinmann</h3>
        2. Dan Aikikai, Trainer Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/fabian-s.jpg")" />
    <p>
        <h3>Fabian Müller</h3>
        1. Dan Aikikai, Trainer Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/melanie-s.jpg")" />
    <p>
        <h3>Melanie Gnädinger</h3>
        1. Dan Aikikai, Trainierin Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/jasmin-s.jpg")" />
    <p>
        <h3>Jasmin Schriber</h3>
        1. Dan, Aushilfstrainerin Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/beat-s.jpg")" />
    <p>
        <h3>Beat Schär</h3>
        1. Kyu, Aushilfstrainer Kinder
    </p>
    <div style="clear:both"></div>
</div>