@{
    ViewBag.Title = "Personen";
}

<style type="text/css">
    .content img, .content p {
        float: left;
    }

    .content img {
        margin-right: 15px;
        margin-top: 11px;
    }
</style>

<h2>Lehrer und Vereinsvorstand</h2>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/armin-s.jpg")" />
    <p>
        <h3>Armin Müller</h3>
        6. Dan Aikikai, Technischer Leiter
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/marcel-s.jpg")" />
    <p>
        <h3>Marcel Schriber</h3>
        5. Dan Aikikai, Lehrer Erwachsene und Kinder, Verantwortung Kindertrainings
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/georges-s.jpg")" />
    <p>
        <h3>Georges Zahno</h3>
        4. Dan Aikikai, Lehrer Erwachsene, Verantwortung Einführungskurse Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/toni-s.jpg")" />
    <p>
        <h3>Toni Renggli</h3>
        4. Dan Aikikai, Lehrer Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/veradaria-s.jpg")" />
    <p>
        <h3>Vera Daria Fischer</h3>
        2. Dan Aikikai, Trainerin Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/markus-s.jpg")" />
    <p>
        <h3>Markus Steinmann</h3>
        2. Dan Aikikai, Trainer Erwachsene, Vereinspräsident
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/manuela-s.jpg")" />
    <p>
        <h3>Manuela Steinmann-Gerber</h3>
        2. Dan Aikikai, Trainerin Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/robin-s.jpg")" />
    <p>
        <h3>Robin Gubler</h3>
        2. Dan Aikikai, Trainer fortgeschrittene Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/simon-s.jpg")" />
    <p>
        <h3>Simon Steinmann</h3>
        1. Dan Aikikai, Trainer Jugendliche
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/boris-s.jpg")" />
    <p>
        <h3>Boris Inderbitzin</h3>
        1. Dan Aikikai, Trainer Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/fabian-s.jpg")" />
    <p>
        <h3>Fabian Müller</h3>
        1. Dan Aikikai, Trainer fortgeschrittene Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/priska-s.jpg")" />
    <p>
        <h3>Priska Gut</h3>
        1. Dan Aikikai,  Aushilfstrainerin Erwachsene,  Vereinssekretariat
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/heidi-s.jpg")" />
    <p>
        <h3>Heidi Arnet</h3>
        2. Dan Aikikai, Aushilfstrainerin Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/nick-s.jpg")" />
    <p>
        <h3>Nick Meier</h3>
        1. Dan Aikikai, Aushilfstrainer Erwachsene
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/beat-s.jpg")" />
    <p>
        <h3>Beat Schär</h3>
        1. Kyu, Aushilfstrainer Kinder
    </p>
    <div style="clear:both"></div>
</div>

<div class="content">
    <img src="@Url.Content("~/Content/images/personen/johannes-s.jpg")" />
    <p>
        <h3>Johannes Harte</h3>
        2. Kyu, Aushilfstrainer Kinder
    </p>
    <div style="clear:both"></div>
</div>
