<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Aikido Sursee - @ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/Aktuelles/RSS" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <style type="text/css">
        h1, h2, h3, h4 {
            color: #C00D2E;
        }
    </style>
</head>
<body>
    <div class="navbar" style="background: url(@Url.Content("~/Content/images/AikidoHeaderBackground.png")) no-repeat">
        <div class="navbar-inner">
            <img class="brand" src="@Url.Content("~/Content/images/AikidoHeader.png")" alt="Aikido Sursee" />

        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("Footer", false)

</body>
</html>
