<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Aktuelles</li>
        <li>@Html.ActionLink("Neuigkeiten", "Index", "Aktuelles")</li>
        <li>@Html.ActionLink("Termine", "Termine", "Aktuelles")</li>
        <li class="nav-header">Über Aikido</li>
        <li>@Html.ActionLink("FAQ", "Faq", "AikidoInfos")</li>
        <li>@Html.ActionLink("Aikido Glossar", "Glossar", "AikidoInfos")</li>
        <li>@Html.ActionLink("Techniken", "Techniken", "AikidoInfos")</li>
        <li>@Html.ActionLink("Links", "Links", "AikidoInfos")</li>
        <li class="nav-header">Das Dojo</li>
        <li><a href="#">Trainingszeiten</a></li>
        <li><a href="#">Einführungskurse</a></li>
        <li>@Html.ActionLink("Bilder", "Bilder", "Dojo")</li>
        <li>@Html.ActionLink("Lehrer", "Personen", "Dojo")</li>
        <li><a href="#">Weg zum Dojo</a></li>
        <li><a href="#">Aikido Velos</a></li>
        <li>@Html.ActionLink("Kontakt", "Kontakt", "Dojo")</li>
    </ul>
</div>

@if (!Request.IsAuthenticated) {
    <small><a onclick="$('#passwordForm').toggle()">Anmelden</a></small>

    <div class="well" id="passwordForm" style="display: none;">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) {
                            <input class="span12" type="text" placeholder="Email" name="UserName" /><br />
                            <input class="span12" type="password" placeholder="Password" name="Password" /><br />
                            <button type="submit" class="btn">Anmelden</button>
        }
    </div>
}