<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Aktuelles</li>
        <li>@Html.ActionLink("Neuigkeiten", "Index", "Aktuelles")</li>
        <li>@Html.ActionLink("Termine", "Termine", "Aktuelles")</li>
        <li class="nav-header">Über Aikido</li>
        <li><a href="/Content/Show/faq">FAQ</a></li>
        <li><a href="/Content/Show/glossar">Aikido Glossar</a></li>
        <li><a href="/Content/Show/techniken">Techniken</a></li>
        <li><a href="/Content/Show/presse">Presse</a></li>
        <li><a href="/Content/Show/links">Links</a></li>
        <li class="nav-header">Das Dojo</li>
        <li><a href="/Content/Show/trainingszeiten">Trainingszeiten</a></li>
        <li><a href="/Content/Show/einführungskurse">Einführungskurse</a></li>
        <li>@Html.ActionLink("Bilder", "Bilder", "Dojo")</li>
        <li>@Html.ActionLink("Lehrer", "Personen", "Dojo")</li>
        <li>@Html.ActionLink("Weg zum Dojo", "Standort", "Dojo")</a></li>
        <li><a href="/Content/Show/velos">Aikido Velos</a></li>
        <li>@Html.ActionLink("Kontakt", "Kontakt", "Dojo")</li>

        @if (AikidoWebsite.Web.Extensions.UserExtensions.IsInGroup(User, AikidoWebsite.Data.ValueObjects.Gruppe.Admin)) {
            <li class="nav-header">Website</li>
            <li><a href="/Content/Files">Dateien</a></li>
        }
    </ul>

</div>

<small><a href="/Content/Show/impresum">Impresum</a></small><br />

@if (!Request.IsAuthenticated) {
    <small><a onclick="$('#passwordForm').toggle()">Anmelden</a></small>

    <div class="well" id="passwordForm" style="display: none;">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) {
                            <input class="span12" type="text" placeholder="Email" name="UserName" /><br />
                            <input class="span12" type="password" placeholder="Password" name="Password" /><br />
                            <button type="submit" class="btn">Anmelden</button>
        }
    </div>
}